body {
  margin: 0;
  height: 100vh;
  background: rgb(238,174,202);
  background: rgb(255,255,255);
  background-color: rgb(36, 34, 34);
  color: white;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
    "header header"
    "sidenav content"
    "footer footer";
}

#header, #content, #sidenav, #footer {
  border: 1px solid rgb(252, 245, 245);
}

#header {
  grid-area: header;
}
#content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
}
#footer {
  grid-area: footer;
}
#sidenav {
  grid-area: sidenav;
}

.block {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(250, 248, 248);
  background-color: rgb(4, 82, 102);
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background: rgb(2,0,36);
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(18,16,4,1) 47%);
}